body {
  background-color: #c4eca1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 5px;
}

button {
  padding: 70px;
  font-size: 36px;
  cursor: pointer;
  border-radius: 2px;
}
